.vertical-scrollable> .row {
    position: absolute;
    top: 95px;
    left: 60%;
    width: 40%;
    overflow-y: scroll;
    border: black 0.5px solid;
    background-color: #f0fff0;
  }
    .pb-2 {
        padding-bottom: 0.5rem!important;
    }
    
    .my-2 {
        margin-top: 0.5rem!important;
        margin-bottom: 0.5rem!important;
    
    }.d-block {
        display: block!important;
    }
   
  li { 
      color: black; 
      font-size: .875rem; 
      padding-bottom: 3px; 
      padding-top: 3px; 
  } 
    
  
  .text-muted {
color: #6c757d!important;
  }
  #addReminderForm{
    width: 50%;
  }
  .form-control{
    width: 300px;
    
  }
  .footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color:blue;
    text-align: center;
    

}
.footer p{
    color: white;
    margin-top: 10px;
}
.header {
    margin-bottom: 500px;
    bottom: 0;
    position: fixed;
    background-color: cadetblue;
    text-align: center;

}
.container{
    margin-top: 40px;
}
.card{
    margin-top: 50px;
    border-color: dimgrey;
    border-radius: 10px;
}
