.vertical-scrollable>.card{
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    top: 95px;
    left: 75%;
    width: 23%;
    height: 20%;
    overflow-y: scroll;
    border: black 0.5px solid;
    background-color: #f0fff0;
  }
/*   
  .vertical-scrollable>.card2{
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    top: 95px;
    left: 75%;
    width: 23%;
    height: 20%;
    overflow-y: scroll;
    border: black 0.5px solid;
    background-color: #f0fff0;
    
  } */
  #external-events {
    position: absolute;
    margin-top: 20%;
    z-index: 2;
    top: 20px;
    left: 75%;
    width: 250px;
    height: 100px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
  }
  #external-events .fc-event {
    cursor: move;
    margin: 3px 0;
  }
    
   
 strong{
   font-size: small;
   padding-bottom: 3px;
 }
  #addReminderForm{
    width: 50%;
  }
  .form-control{
    width: 300px;
    
  }
  .footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color:blue;
    text-align: center;
    

}
.footer p{
    color: white;
    margin-top: 10px;
}
.header {
    margin-bottom: 500px;
    bottom: 0;
    position: fixed;
    background-color: cadetblue;
    text-align: center;

}
.container{
    margin-top: 40px;
}
.card{
    margin-top: 50px;
    border-color: dimgrey;
    border-radius: 10px;
}
html, body {
  margin: 0;
  
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}


.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  
}
.fade.in {
  opacity: 1;
}
.dot1 {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
  
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: rgb(127, 156, 219);
  border-radius: 50%;
  display: inline-block;
  justify-content: center;
}
.dot3 {
  height: 15px;
  width: 15px;
  background-color: rgb(37, 223, 93);
  border-radius: 50%;
  display:  inline-block;
  justify-content: center;
}
