
.addClient_form {
  width: 100%;
  height: 100%;
  margin: 100px auto;
  text-align: center;
  display: none;
}
.addClient_form .form {
  width: 340px;
  margin: 5px auto;
}
.addClient_form input[type='date'] {
  color: #656d79;;
  font-size: 15px;
  height: 45px;
  border: none;
  padding-left: 15px;
  width: 96%;
  margin-bottom: 10px;
}
.addClient_form input[type='number'] {
    font-size: 15px;
    height: 45px;
    border: none;
    padding-left: 15px;
    width: 96%;
    margin-bottom: 10px;
    
}

.addClient_form input[type='text'] {
    font-size: 15px;
    height: 45px;
    border: none;
    padding-left: 15px;
    width: 96%;
    margin-bottom: 10px;
}
h4 .addClient_form input[type='text'][placeholder] {
  color: #656d79;
  font-size: 15px;
  font-weight: 500;
  
}
.rowSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 200px;
}

.addClient_header_text {
  color: black;
}

.h1 {
    padding-right: 45%;
}
.AddClient_btn {
  float: right;
  padding-left: 50px;
}

.form-check-label {
    color: white;
    font-size: 15px;
}
.upload-btn-wrapper {
    padding-left: 55%;
}