#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1C2833;
  width: 1200px;
  height: 800px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-shadow: #B2B2BA;
  transition-duration: 1s;
}

#left, #right {
  margin: auto;
  width: 95%;
  height: 96%;
  border-radius: 10px;
}

#left {
  background-image: url("/images/Logo.png");
  background-size: cover;
  background-position: center;
  box-shadow: var(--box-shadow);
  background-color: white;
}
 #login {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  color: white;
} 
.client-info {
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 50px;
  border: solid #999 1px;
  border-radius: 5px;
  text-indent: 15px;
  transition: all 200ms;
  box-shadow: var(--box-shadow);
}
.client-info:focus {
  width: 80%;
}
a.btn .btn-primary{
  padding-top: 20px;
}
.alert .alert-danger {
  width: 10%;
}
 
#submit {
  border: none;
  background-color: #34495E;
  color: white;
  width: 30%;
  text-align: center;
}
@media (max-height: 850px) {
  #container {
    width: 1000px;
    height: 600px;
  }
  #login {
    padding-top: 20%;
  }
  
}
