/*----------------page-wrapper----------------*/
#sidebar {
	width: 20%;
	
}
/*----------------toggeled sidebar----------------*/
.siderbar_main.toggled .sidebar-wrapper {
	left: 0px;
}

@media screen and (min-width: 768px) {
	.siderbar_main.toggled .page-content {
		padding-left: 300px;
	}
}

/*----------------show sidebar button----------------*/
#show-sidebar {
	position: fixed;
	left: 0;
	top: 10px;
	border-radius: 0 4px 4px 0px;
	width: 35px;
	transition-delay: 0.3s;
}

.siderbar_main.toggled #show-sidebar {
	left: -40px;
}

#close-sidebar {
	float: right;
}
#sdbrhr {
	border-top: 5px white;
 }
/*----------------sidebar-wrapper----------------*/
.sidebar-wrapper {
	width: 270px;
	height: 100%;
	max-height: 100%;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 999;
}

.sidebar-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar-wrapper a {
	text-decoration: none;
}

/*----------------sidebar-content----------------*/
.sidebar-content {
	max-height: calc(100% - 30px);
	height: calc(100% - 30px);
	overflow-y: auto;
	position: relative;
}

.sidebar-content.desktop {
	overflow-y: hidden;
}
.header-menu {
	color: white;
}
/*--------------------sidebar-header----------------------*/
.sidebar-wrapper .sidebar-header {
	padding: 20px;
	overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
	float: left;
	width: 60px;
	padding: 2px;
	border-radius: 12px;
	margin-right: 15px;
	overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
	float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
	display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
	font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info {
	font-size: 11px;
	margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info i {
	font-size: 8px;
	margin-right: 4px;
	color: #5cb85c;
}
.user-info {
	color: white;
	font-size: 12px;
}


/*----------------------sidebar-menu-------------------------*/
.sidebar-wrapper .sidebar-menu {
	padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
	font-weight: bold;
	font-size: 14px;
	padding: 15px 20px 5px 20px;
	display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	position: relative;
	padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
	margin-right: 10px;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a {
	float: right;
	margin-top: 8px;
	margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
	float: right;
	margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
	display: none;
}
/* --------------------------SIDEBAR FOOTER------------------------------ */
.sidebar-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
}

.sidebar-footer > a {
	flex-grow: 1;
	text-align: center;
	height: 35px;
	line-height: 30px;
	position: relative;
}

.sidebar-footer > a .notification {
	position: absolute;
	top: 0;
}

/* ------ SCROLL BAR--------------------- */
::-webkit-scrollbar {
	width: 5px;
	height: 7px;
}

/* -----------------------------chiller-theme------------------------------------------------- */
.siderbar_main .sidebar-wrapper {
	background: #11101d;
}

.siderbar_main .sidebar-wrapper .sidebar-header .user-info .user-role,
.siderbar_main .sidebar-wrapper .sidebar-header .user-info .user-status,
.siderbar_main .sidebar-wrapper .sidebar-search input.search-menu,
.siderbar_main .sidebar-wrapper .sidebar-search .input-group-text,
.siderbar_main .sidebar-wrapper .sidebar-brand>a,
.siderbar_main .sidebar-wrapper .sidebar-menu ul li a,
.siderbar_main .sidebar-footer>a {
	color: white;
}

.siderbar_main.siderbar_maine.toggled #close-sidebar {
	color: #bdbdbd;
}

.siderbar_main.siderbar_main.toggled #close-sidebar:hover {
	color: #ffffff;
}

.siderbar_main .sidebar-wrapper .sidebar-menu ul li a i,
.siderbar_main .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.siderbar_main .sidebar-wrapper .sidebar-search input.search-menu,
.siderbar_main .sidebar-wrapper .sidebar-search .input-group-text {
	background: #3a3f48;
}

